<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.soft.market_management.dao.SellDao">
    <insert id="saveSell" parameterType="cn.soft.market_management.entity.Sell">
        insert into tb_sell
        values
        (null,#{pname},#{sellprice},#{amount},now(),#{address})
    </insert>
    <select id="findPageObjects" resultType="cn.soft.market_management.entity.Sell">
        select * from tb_sell
        <where>
            <if test="pname!=null and pname!=''">
                pname like concat("%",#{pname},"%")
            </if>
        </where>
        order by id desc
        limit #{startIndex},#{pageSize}
    </select>
    <select id="getRowCount" resultType="int">
        select count(*)from tb_sell
        <where>
            <if test="pname!=null and pname!=''">
                pname like concat("%",#{pname},"%")
            </if>
        </where>
    </select>
    <delete id="deleteObjects">
        delete from tb_sell
        where id in
        <foreach collection="ids" open="(" close=")" separator="," item="id">
            #{id}
        </foreach>
    </delete>
</mapper>