<!-- iCheck -->
<link rel="stylesheet" href="/plugins/iCheck/flat/blue.css">
<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title">用户管理</h3>

        <div class="box-tools pull-right">
            <div class="col-lg-3  pull-right">
                <div class="input-group">
                    <input type="text" class="form-control InputUsername" placeholder="请输入用户名">
                    <span class="input-group-btn">
                        <button class="btn btn-default findBtn" type="button">查询</button>
                        </span>
                </div><!-- /input-group -->
            </div>
            <!-- /.box-tools -->
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
            <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm deleteBtn"><i class="fa fa-trash-o"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>

                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
        <div class="table-responsive mailbox-messages">
            <table class="table table-hover table-striped">
                <thead>
                <th>ID</th>
                <th>用户名称</th>
                <th>用户邮箱</th>
                <th>手机号码</th>
                <th>用户权限</th>
                <th>部门编号</th>
                <th>创建时间</th>
                <th>创建人</th>
                </thead>

                <tbody id="tbodyID">
                <td colspan="8">数据正在加载中...</td>

                </tbody>
            </table>
            <!-- /.table -->
            <!-- /.mail-box-messages -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer no-padding">
            <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle"><i class="fa fa-square-o"></i>
                </button>
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-trash-o"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-reply"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-share"></i></button>
                </div>
                <!-- /.btn-group -->
                <button type="button" class="btn btn-default btn-sm refreshBtn"><i class="fa fa-refresh"></i></button>
                <div class="pull-right">
                    <div id="pageID">

                    </div>


                    <!-- /.btn-group -->
                </div>
                <!-- /.pull-right -->
            </div>
        </div>
    </div>
    <!-- /. box -->

    <!-- iCheck -->
    <script src="/plugins/iCheck/icheck.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            //Enable iCheck plugin for checkboxes
            //iCheck for checkbox and radio inputs
            $('.mailbox-messages input[type="checkbox"]').iCheck({
                checkboxClass: 'icheckbox_flat-blue',
                radioClass: 'iradio_flat-blue'
            });

            //Enable check and uncheck all functionality
            $(".checkbox-toggle").click(function () {
                var clicks = $(this).data('clicks');
                if (clicks) {
                    //Uncheck all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("uncheck");
                    $(".fa", this).removeClass("fa-check-square-o").addClass('fa-square-o');
                } else {
                    //Check all checkboxes
                    $(".mailbox-messages input[type='checkbox']").iCheck("check");
                    $(".fa", this).removeClass("fa-square-o").addClass('fa-check-square-o');
                }
                $(this).data("clicks", !clicks);
            });

            //Handle starring for glyphicon and font awesome
            $(".mailbox-star").click(function (e) {
                e.preventDefault();
                //detect type
                var $this = $(this).find("a > i");
                var glyph = $this.hasClass("glyphicon");
                var fa = $this.hasClass("fa");

                //Switch states
                if (glyph) {
                    $this.toggleClass("glyphicon-star");
                    $this.toggleClass("glyphicon-star-empty");
                }

                if (fa) {
                    $this.toggleClass("fa-star");
                    $this.toggleClass("fa-star-o");
                }
            });
        });
    </script>
    <script>
        $(function () {
            $("#pageID").load("/common/page",function(){

                doGetObjects();
            })
            $(".findBtn").click(findByUsername);
            $(".refreshBtn").click(function () {
                $("#pageID").data("pageCurrent",1);
                $(".InputUsername").val("");
                doGetObjects();

            });
            $(".deleteBtn").click(doDeleteObjects);



        })
        // function doDeleteObjects() {
        //     var ids = doGetCheckedIds();
        //     if (ids.length==0){
        //         alert("至少选择一个");
        //         return;
        //     }
        //     var url="/log/doDeleteObjects";
        //     var params={ids:ids.toString()};
        //     $.post(url,params,function (result) {
        //         if (result.state==1){
        //             alert("删除成功");
        //             doGetObjects()
        //         }else {
        //             alert(result.message());
        //         }
        //
        //     })
        //
        // }
        function doGetCheckedIds() {
            var array=[];
            $("#tbodyID input[type=checkbox]").each(function(){
                if ($(this).prop("checked")){
                    array.push($(this).val());
                }
            });
            return array;
        }
        function findByUsername() {
            doGetObjects();
        }

        //定义路径
        function doGetObjects() {


            var url = "/user/doFindPageObjects";
            var pageCurrent = $("#pageID").data("pageCurrent");
            if (!pageCurrent)
                pageCurrent=1;
            var params = {"pageCurrent":pageCurrent};

            var username = $(".InputUsername").val();
            if (username){
                params.username=username;
            }

            //发送get请求
            $.getJSON(url, params, function (result) {
                //发送get请求
                //1.处理
                doHandleQueryResponseResult(result);
                //2.将分页数据 加载到分页部分中
                doSetPageData(result.data);
            });


            function doHandleQueryResponseResult(result) {
                if (result.state == 1) {
                    doSetTableBodyRows(result.data.records);

                } else {
                    alert(result.message);
                }
            }

            function doSetTableBodyRows(records) {
                var tBody = $("#tbodyID");
                tBody.empty();
                for (var i in records) {
                    var tr = $("<tr></tr>");
                    var tds = doCreatedIds(records[i]);
                    tr.append(tds);
                    tBody.append(tr);
                }
            }

            function doCreatedIds(data) {
                var tds = '<td><input type="checkbox" value="' + data.id + '"></td>' +
                    '<td>' + data.username + '</td>' +
                    '<td>' + data.email + '</td>' +
                    '<td>' + data.mobile + '</td>' +
                    '<td>' + (data.valid?"启用":"禁用") + '</td>' +
                    '<td>' + (data.deptId?data.deptId:"未分配")+ '</td>' +

                    '<td>' + new Date(data.createTime).toLocaleString()+ '</td>' +
                    '<td>' + data.createdUser + '</td>'
                return tds;
            }

        }
    </script>
</div>